.customers_wrapper {
  padding: 1rem;
  width: 100%;

  .c_header {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;

    h2 {
      font-weight: 700;
      font-size: 25px;
      margin-bottom: 0.5rem;
    }
  }

  .table_box {
    padding: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }

  .tr {
    &:nth-child(odd) {
      background-color: #f2f2f2;
    }
  }
}
