.ssss {
  overflow: hidden;
}

.head {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  a {
    color: #000;
    font-family: Rowdies-Bold;
    font-size: 48px;
  }

  .login {
    button {
      padding: 4px;

      &:hover {
        background: #00000031;
        border-radius: 15px;
      }
    }

    .user {
      padding: 4px;
      cursor: pointer;
    }
  }
}

.dashboard_wrapper {
  display: flex;
  background: rgba(255, 255, 255, 0.11);

  .sidebar {
    width: 250px;
    position: fixed;
    top: 80px;
    padding: 1rem 0.5rem;
    left: 0;
    height: 100%;
    background-color: #fff;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-y: auto;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;

    &.sidebar-closed {
      transform: translateX(-250px);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        .nav__link {
          display: flex;
          align-items: center;
          gap: 20px;
          background: hsla(0, 0%, 100%, 0.173);
          height: 40px;
          width: 100%;
          padding: 4px 12px;
          border-radius: 15px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          p {
            color: #1b2336;
            font-family: Saira-Medium;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            text-transform: capitalize;
          }
        }
      }
    }
  }


  .dashboard-content {
    flex-grow: 1;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    padding-left: 250px;
    overflow: auto;

    &.sidebar-closed {
      padding-left: 0;
    }
  }

  .outlet {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }
}

.active {
  background: #0e7490 !important;
  p {
    color: #fff !important;
  }

  i {
    color: #fff !important;
  }
}

button {
  background-color: transparent;
}
