.featured {
  margin-top: 100px;

  .featured_wrapper {
    
    h2 {
      color: #323232;
      font-family: Rowdies-Bold;
      font-size: 45px;
      font-style: normal;
      font-weight: 400;
      line-height: 70px;
      letter-spacing: -1.35px;
      text-align: center;

      span {
        color: #2aaa94;
      }
    }
    .desc {
      margin: 0 auto;
      width: 100%;
      max-width: 691px;
      color: #4e596b;
      text-align: center;
      font-family: Saira;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 35px; /* 140% */
      text-align: center;
    }

    ul {
      margin-top: 90px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 45px;

      li {
        width: 100%;
        max-width: 500px;
        border-radius: 20px;
        background: #fff;
        overflow: hidden;
        box-shadow: 0px 4px 4px 0px rgba(217, 236, 255, 0.5);
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        img {
          width: 100%;
        }
        .card_body {
          padding: 24px 39px 33px 30px;
          .st-counter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 21px;

            p {
              color: #4e596b;
              font-family: Saira-Medium;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 35px;
              letter-spacing: -0.42px;
            }
          }
          h3 {
            width: 100%;
            max-width: 447px;
            color: #324361;
            font-family: Saira-SemiBold;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: 35px;
            letter-spacing: -0.75px;
            margin-bottom: 33px;
          }
          .price_box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              color: #4e596b;
              font-family: Saira;
              font-size: 22px;
              font-style: normal;
              font-weight: 600;
              line-height: 35px; /* 159.091% */
              letter-spacing: -0.66px;
            }
          }
        }
      }
    }
    .btn-div {
      width: 200px;
      margin: 0 auto;
      button {
        border-radius: 10px;
        background: linear-gradient(95deg, #083f9b 0%, #7f56d9 102.25%);
        margin-top: 91px;
        padding: 18px;
        color: #fff;
        font-family: Saira;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;

        &:hover {
          background: linear-gradient(95deg, #089b8f 0%, #56c8d9 102.25%);
        }

        &:active {
          background: linear-gradient(95deg, #199b08 0%, #56d98d 102.25%);
        }
      }
    }
  }
}